@font-face {
	font-family: "3rdPartyFont";
	src: url(3rdPartyFont.woff);
}
@font-face {
	font-family: "AppFont";
	src: url(AppFont.woff);
}
body {
	background-color: white;
	color: #333;
}
input, textarea, button {
	font-size: inherit;
}
button, .button {
	-webkit-transform: translate(1px);
	transform: translate(1px);
	padding: 15px;
	border: 2px solid #333;
}
@media all and (max-width: 700px) {
	button, .button {
		padding: 10px;
	}
}
